body {
    background-color: black;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.principal {
    display: flex;
    background-color: rgba(240, 248, 255, 0.8);
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    margin-top: 100px;

}
.error {
    color: red;
    font-style: italic;
    font-size: 16px;
}
.validacion {
    color: yellow;
    font-style: normal;
    font-size: 16px;
}

.provincia {
    color: green;
    font-style: oblique;
    font-size: 16px;
}
.vehiculo {
    color: darkblue;
    font-style: oblique;
    font-size: 16px;
}