body {
    background-color: darkcyan;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

.principal {
    display: flex;
    background-color: rgba(240, 248, 255, 0.89);
    margin-left: 0px;
    justify-content: center;
    margin-right: 0px;
    flex-direction: row;
    margin-top: 200px;

}

.logoAnt {   
    display: flex;
    flex: 1;
    font-size: 80px;
    justify-content: right;

}


.contenido{
    display: grid;
    text-align: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    margin-left: 200px;
    margin-right: 200px;
    height: 100px;
    
}

.error {
    color: red;
    font-style: italic;
    font-size: 16px;
}
.validacion {
    color: yellow;
    font-style: normal;
    font-size: 16px;
}

.provincia {
    color: green;
    font-style: oblique;
    font-size: 16px;
}
.vehiculo {
    color: darkblue;
    font-style: oblique;
    font-size: 16px;
}
.placa {
    color: darkgray;
    font-style: oblique;
    font-size: 16px;
}
.estiloBoton:active {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;

}
.estiloBoton:hover {
    background-color: darkcyan;
    color: white;
    border: 1px;
    border-color: #4CAF50;
    border-radius: 5px;
}
.contenedorBoton {
    display: flex;
    flex: 1;
    justify-items: center;
    display: grid;
    text-align: center;
    justify-content: right;
    height: 30px;
    margin-left: 400px;
    margin-top: 10px;
    
}